@font-face {
  font-family: "bureauGrot";
  src: url("/img/bureau_grot.otf")
}

@font-face {
  font-family: "myriad";
  src: url("/img/MYRIADPRO-REGULAR.OTF");
}

.gaPrecinctMap {
  fill: white;
  stroke: #949494;
}

.sliderContainer{
  padding-top:1000px;
  padding-left: 40px;
}
.timeslide {
  padding-left:40px;
}
.chart {
  font-family: 'bureauGrot', sans-serif;
}
.chart-title {
  font-size: 20pt;
}
.chart-year-labels {
  font-size: 10pt;
  font-weight: lighter;
  letter-spacing: 0.5px;
}
.chart-labels{
  font-weight: lighter;
  font-spacing: 0.65px;
}
.range {
  font-family: 'bureauGrot', sans-serif;
}
.map{
  padding-top: 20px;
}

.bodyTitle {
  font-family: 'bureauGrot';
  font-size: 28pt;
}
